<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wan.jl.base.StockHistoryDao">
    <!--id对应UserDAO接口方法名-->
    <!--parameterType对应参数类型-->
    <!--resultType对应返回值类型-->
    <!--注意sql语句字段和数据库对应-->
    <select id="selectByDay"  resultType="java.util.HashMap">
        <![CDATA[SELECT * FROM stock_history where day <=#{endDate,jdbcType=DATE} and day >=#{startDate,jdbcType=DATE}]]>
     </select>
</mapper>